---
layout: error
title: "404 - Page Not Found"
permalink: 404.html
---

<!doctype html>
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (gte IE 9)| IEMobile |!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>404 - Page Not Found</title>

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link rel="shortcut icon" href="{{ site.baseurl }}assets/images/favicon.ico">
    <meta http-equiv="cleartype" content="on">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Karla:600,400&display=swap" />
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
    <main role="main" id="main">
        <div class="gh-app">
            <div class="gh-viewport">
                <div class="gh-view">
                    <section class="error-content error-404 js-error-container">
                        <section class="error-details">
                            <img
                                    class="error-ghost"
                                    src="{{ site.baseurl }}assets/images/404.png"
                                    srcset="{{ site.baseurl }}assets/images/404.png"/>
                            <section class="error-message">
                                <h1 class="error-code">404</h1>
                                <h2 class="error-description">Page not found</h2>
                                <a class="error-link" href="{{ site.baseurl }}">Go to the home page →</a>
                            </section>
                        </section>
                    </section>
                </div>
            </div>
        </div>
    </main>

    <!-- Add Google Analytics  -->
    {% include analytics.html %}
</body>
</html>
