---
layout: default
title: 'Engineering Manager at Meta • Advisor • Speaker • Writer'
class: 'home-template'
current: home
---
<!-- < default -->
<!-- The tag above means - insert everything in this file into the [body] of the default.hbs template -->

<!-- The main content area on the homepage -->
<main id="content" class="content" role="main">
  <article class="post">
    <header class="homepage-header">
      <div class="avatar-container">
        <img alt="Adam Conrad" class="avatar" src="/assets/images/avatar.jpg" width="96" />
      </div>
      <h1>Adam Conrad</h1>
      <h2 class="subtitle">
        <small>Engineering Manager at Meta • Advisor • Speaker • Writer</small>
      </h2>
    </header>
    <section class="post-excerpt">
      <h3 class="homepage-section">Current work</h3>
      <p>
        I support the Web Core Product team at <a href="https://facebook.com">Meta</a> which is responsible for Facebook’s homepage. I also run the <a href="https://gettoknowapp.com">GetToKnow</a> Slack app to help you learn about your teammates and <a href="https://peergym.herokuapp.com">PeerGym</a> for finding gyms in your local community. Need some technical expertise? Check out my <a href="https://anonconsulting.com">boutique consulting firm</a>.
      </p>

      <h3 class="homepage-section">Open source contributions</h3>
      <p>
        I’ve contributed to <a href="https://github.com/twbs/bootstrap">Bootstrap</a>, <a href="https://github.com/thoughtbot/laptop">thoughtbot Laptop</a>, <a href="https://github.com/aasm/aasm">AASM</a>, <a href="https://github.com/activeadmin/activeadmin">ActiveAdmin</a>, <a href="https://github.com/elixir-lang/elixir">the Elixir language</a>, <a href="https://github.com/ueberauth/ueberauth_slack">UeberAuth</a>, <a href="https://github.com/neutrinojs/neutrino">Neutrino</a>, and <a href="https://github.com/klaascuvelier/gulp-copy">Gulp-copy</a>. My biggest contributions are to <a href="https://github.com/BlakeWilliams/Elixir-Slack">Elixir-Slack</a> and <a href="https://github.com/denoland/deno">Deno</a> (the rebuild of NodeJS). I’m also in the <strong>top 15% all time</strong> of contributors on <a href="https://stackoverflow.com/users/535467/acconrad">Stack Overflow</a>.
      </p>

      <h3 class="homepage-section">Speaking I’ve done</h3>
      <p>
        All of my talks can be found on <a href="https://speakerdeck.com/acconrad">SpeakerDeck</a>. My most recent talk was on <a href="https://speakerdeck.com/acconrad/code-review-in-javascript">code review in JavaScript</a>. My most recent interview was on <a href="https://softwareengineeringdaily.com/2018/12/20/modern-front-end-react-graphql-vr-webassembly-with-adam-conrad/">Software Engineering Daily</a> where I am also a <a href="https://softwareengineeringdaily.com/author/adamc/">writer</a>.
      </p>

      <h3 class="homepage-section">Books I’m writing</h3>
      <p>
        I’m currently working on a companion book to <em>The Algorithm Design Manual</em> written in JavaScript based on <a href="/tag/algorithms/">this series</a>. If you’re interested in getting an early copy <a href="/newsletter">sign up for the newsletter</a>.
      </p>

    </section>
    <footer class="post-meta">
      <p>
        <small>
          The site and all of it’s code is completely open source and is hosted by GitLab with Jekyll on GitLab Pages.
          <a href="https://gitlab.com/acconrad/acconrad.gitlab.io">Fork this site</a>.
        </small>
      </p>
    </footer>
  </article>
</main>
