<svg xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 511.998 511.998" style="enable-background:new 0 0 511.998 511.998;height:16px" xml:space="preserve">
  <g>
    <rect x="177.05" y="32.711" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.98 213.7346)" width="157.921" height="157.921"></rect>
  </g>
  <g>
    <rect x="321.37" y="177.048" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -63.7714 358.0599)" width="157.921" height="157.921"></rect>
  </g>
  <g>
    <rect x="32.707" y="177.055" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -148.3235 153.9457)" width="157.921" height="157.921"></rect>
  </g>
  <g>
    <rect x="177.046" y="321.366" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -208.091 298.2766)" width="157.921" height="157.921"></rect>
  </g>
</svg>
AC
<svg xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 511.998 511.998" style="enable-background:new 0 0 511.998 511.998;height:16px" xml:space="preserve">
  <g>
    <rect x="177.05" y="32.711" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.98 213.7346)" width="157.921" height="157.921"></rect>
  </g>
  <g>
    <rect x="321.37" y="177.048" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -63.7714 358.0599)" width="157.921" height="157.921"></rect>
  </g>
  <g>
    <rect x="32.707" y="177.055" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -148.3235 153.9457)" width="157.921" height="157.921"></rect>
  </g>
  <g>
    <rect x="177.046" y="321.366" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -208.091 298.2766)" width="157.921" height="157.921"></rect>
  </g>
</svg>
