<!-- This is the post loop - each post will be output using this markup -->
{% for post in paginator.posts %}
<article class="post">
  <header class="post-header">
    <h2 class="post-title">
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h2>
  </header>
  <section class="post-excerpt">
    <p>
      {{ post.content | strip_html | truncatewords: 25 }}
      <a class="read-more" href="{{ post.url }}">
        &raquo;
      </a>
    </p>
  </section>
  <footer class="post-meta">
    <!-- [[tags prefix=" on "]] -->
    {% if post.tags.size > 0 %}
      {% for tag in post.tags %}
        {% if forloop.index == post.tags.size %}
          <a href='{{ site.baseurl }}tag/{{ tag }}'>{{ tag | capitalize }}</a>
        {% else %}
          <a href='{{ site.baseurl }}tag/{{ tag }}'>{{ tag | capitalize }}</a>,
        {% endif %}
      {% endfor %}
    {% endif %}
    <time class="post-date" datetime="{{ post.date | date:'%Y-%m-%d' }}">
      {{ post.date | date_to_string }}
    </time>
  </footer>
</article>
{% endfor %}

<!-- Previous/next page links - displayed on every page -->
{% if page.class == 'home-template' %}
  {% include post_pagination.html %}
{% elsif page.class == 'page-template' %}
  {% include post_pagination.html %}
{% elsif page.class == 'author-template' %}
  {% include author_pagination.html %}
{% elsif page.class == 'tag-template' %}
  {% include tag_pagination.html %}
{% else %}
  {% include post_pagination.html %}
{% endif %}
