<nav class="site-nav">
  <div class="nav-container">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link nav-logo" href="{{ site.baseurl }}" aria-label="User Interfacing">
          {% include logo.html %}
        </a>
      </li>
      <li class="nav-item nav-logo-tagline">
        Engineering Manager at Meta • Advisor • Speaker • Writer
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}blog/">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/acconrad/">Github</a>
      </li>
      <li class="nav-item nav-x-mobile">
        <a class="nav-link" href="https://linkedin.com/in/acconrad/">LinkedIn</a>
      </li>
      <li class="nav-item nav-x-mobile">
        <a class="nav-link" href="https://stackoverflow.com/users/535467/acconrad">Stack Overflow</a>
      </li>
      <li class="nav-item nav-x-mobile">
        <a class="nav-link" href="{{ site.baseurl }}rss.xml">
          <i class="icon-rss"></i> Newsletter via RSS
        </a>
      </li>
      <li class="nav-item nav-x-mobile">
        <a class="nav-link" href="{{ site.baseurl }}newsletter/">
          <i class="icon-mail"></i> Newsletter via Email
        </a>
      </li>
      <li class="nav-item">
        <footer>
          <small>Copyright Adam Conrad &copy; {{  site.time | date: '%Y' }}</small>
        </footer>
      </li>
    </ul>
  </div>
</nav>
