---
layout: default
class: 'page-template'
---
<!-- < default -->

<!-- This is a page template. A page outputs content just like any other page, and has all the same -->
    <!-- attributes by default, but you can also customise it to behave differently if you prefer.  -->

<!-- Everything inside the #page tags pulls data from the page -->

<main class="content" role="main">
    <article class="page">
        <!-- Everything inside the #page tags pulls data from the page -->

        <header class="page-header">
            <h1 class="page-title">{{ page.title }}</h1>
        </header>

        <section class="page-content">
            {{content}}
        </section>

    </article>

</main>
<!-- /page -->
