---
layout: default
article: True
disqus: false
class: 'post-template'
---
<!-- < default -->

<!-- The comment above "< default" means - insert everything in this file into -->
    <!-- the [body] of the default.hbs template, which contains our header/footer. -->

<!-- Everything inside the #post tags pulls data from the post -->
<!-- #post -->

<main class="content" role="main">

    <article class="{{ page.subclass }}">

        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <section class="post-meta">
                <time class="post-date" datetime="{{ page.date | date:'%Y-%m-%d' }}">{{ page.date | date_to_string }}</time>
                <!-- [[tags prefix=" on "]] -->
                {% if page.tags.size > 0 %}
                on
                    {% for tag in page.tags %}
                        {% if forloop.index == page.tags.size %}
                           <a href='{{ site.url }}/tag/{{ tag }}'>{{ tag | capitalize }}</a>
                        {% else %}
                           <a href='{{ site.url }}/tag/{{ tag }}'>{{ tag | capitalize }}</a>,
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="offline">
                    <span class="time">Reading time: {{ content | reading_time | pluralize: "minute" }} minutes</span>
                    <button class="btn-sm cache-article" data-article-id="{{ page.id }}">Read Offline</button> ·
                    <a target="_blank"
                        rel="noopener noreferrer"
                        href="https://github.com/acconrad"
                        class="icon-link"
                    >
                        <img src="https://img.shields.io/github/followers/acconrad.svg?style=social&amp;logo=github&amp;label=Follow" alt="Follow on GitHub">
                  </a>
                </div>
            </section>
        </header>

        <section class="post-content">

            {{ content }}

            <hr/>

            <div class="related-posts">
                <h4>Liked this post? You'll probably also like:</h4>

                {% assign maxRelated = 5 %}
                {% assign minCommonTags =  1 %}
                {% assign maxRelatedCounter = 0 %}

                <ul>
                  {% for post in site.posts %}
                    {% assign sameTagCount = 0 %}
                    {% assign commonTags = '' %}

                    {% for tag in post.tags %}
                      {% if post.url != page.url %}
                        {% if page.tags contains tag %}
                          {% assign sameTagCount = sameTagCount | plus: 1 %}
                          {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
                          {% assign commonTags = commonTags | append: tagmarkup %}
                        {% endif %}
                      {% endif %}
                    {% endfor %}

                    {% if sameTagCount >= minCommonTags and post.url != page.url %}
                      <li>
                        <a href="{{ site.url }}{{ post.url }}">
                            {{ post.title }}
                        </a>
                      </li>
                      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
                      {% if maxRelatedCounter >= maxRelated %}
                        {% break %}
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </ul>
            </div>

            <!-- Begin Substack Signup Form -->
            <div id="mc_embed_signup">
                <h4>Get the FREE UI crash course</h4>
                <p>
                    Sign up for our newsletter and receive a free UI crash course to help you build beautiful applications without needing a design background. Just enter your email below and you'll get a download link instantly.
                </p>
                <iframe src="https://userinterfacing.substack.com/embed" width="100%" height="100" style="background:#f7f7f7;" frameborder="0" scrolling="no"></iframe>
            </div>
            <!--End Substack Signup Form-->

        </section>

        <footer class="post-footer">
            <!-- Everything inside the #author tags pulls data from the author -->
            <!-- #author-->

            {% if site.image %}
            <figure class="author-image">
                <a aria-label="{{ page.author }}'s Picture" class="img" href="/about" style="background-image: url({{ site.url }}/{{ site.image }})"><span class="hidden">{{ page.author }}'s Picture</span></a>
            </figure>
            {% endif %}

            <section class="author">
                <h4><a href="/about">{{ site.author }}</a></h4>

                {% if site.bio %}
                    <p> {{ site.bio }}</p>
                {% else %}
                    <p>Read <a href="{{ site.url }}author/{{ site.nickname }}">more posts</a> by this author.</p>
                {% endif %}
                <div class="author-meta">
                    {% if site.url %}<span class="author-link icon-link"><a href="{{ site.url }}"> {{ site.short_url }}</a></span> · {% endif %}
                    <a target="_blank"
                        rel="noopener noreferrer"
                        href="https://github.com/acconrad"
                        class="icon-link"
                    >
                        <img src="https://img.shields.io/github/followers/acconrad.svg?style=social&amp;logo=github&amp;label=Follow" alt="Follow on GitHub">
                  </a>
                </div>
            </section>

            <!-- /author  -->

            <section class="share">
                <h4>Share</h4>
                <a aria-label="Post page to Twitter" class="icon-twitter" href="https://twitter.com/share?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <i class="icon-2x icon-twitter-squared"></i>
                    <span class="hidden">Twitter</span>
                </a>
                <a aria-label="Post page to Facebook" class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <i class="icon-2x icon-facebook-squared"></i>
                    <span class="hidden">Facebook</span>
                </a>
                <a aria-label="Post page to Reddit" class="icon-reddit" href="https://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" onclick="window.open(this.href, 'reddit-share', 'width=490,height=530');return false;">
                    <i class="icon-2x icon-reddit-squared"></i>
                    <span class="hidden">Reddit</span>
                </a>
                <a aria-label="Post page to Hacker News" class="icon-hacker-news-container" href="https://news.ycombinator.com/submitlink?u={{ site.url }}{{ page.url }}&t={{ page.title }}" onclick="window.open(this.href, 'hacker-news-share', 'width=490,height=530');return false;">
                    <i class="icon-2x icon-hacker-news"></i>
                    <span class="hidden">Hacker News</span>
                </a>
            </section>

            <!-- Add Disqus Comments -->
            {% if page.disqus %}
                {% include disqus.html %}
            {% endif %}

        </footer>

    </article>
</main>

<!-- /post -->
